node_modules/*
babylon-stake-analysis.json
phase2-transactions.json
btc.py
indexer_full.log
analyze.log
logs
dist
package-lock.json
src/scripts/
src/tests/
scripts
docs
.env
prompt.md
PROJECT_SCOPE.md
CHANGELOG.md
.cursorrules
logs.log
proto/*
babylon-proto
yarn.lock
examples/tx.json
.telescope.json
git-modules/*
src/generated/*
examples/*