node_modules/*
babylon-stake-analysis.json
phase2-transactions.json
btc.py
indexer_full.log
analyze.log
logs
dist
package-lock.json
src/tests/
docs
.env
prompt.md
PROJECT_SCOPE.md
CHANGELOG.md
.cursorrules
logs.log
proto
src/generated
decoded.json
test.json
txtest.json
src/scripts/test-block-by-height.ts
tx.json
node_modules
babylon-staker-monitor
m.md
test-schema/execute.json
src/utils/btc-transaction.ts
